.form-currency {
  align-items: center;
  background-color: rgb(6, 107, 6);
  border: 1px solid black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

input {
  margin: 10px;
  padding: 5px;
}

select {
  background-color: rgb(79, 74, 74);
  color: yellowgreen;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
}

button {
  background-color: rgb(79, 74, 74);
  border-radius: 4px;
  color: yellowgreen;
  cursor: pointer;
  height: 30px;
}
