table {
  width: 100%;
}

th {
  background-color: rgb(27, 144, 27);
  border: 1px solid;
  padding: 5px;
  text-align: center;
}

td {
  border: 1px solid;
  text-align: center;
}

tr:hover { background-color: gray; }
