.header {
  align-items: center;
  background-color: rgb(4, 71, 4);
  display: flex;
  flex-flow: nowrap;
  height: 50px;
  justify-content: space-between;
}

.email-header {
  align-items: center;
  background-color: rgb(39, 37, 37);
  border: 1px solid gold;
  color: gold;
  display: flex;
  font-weight: 600;
  height: 50px;
  justify-content: center;
  width: 250px;
}

.money-header {
  align-items: center;
  background-color: rgb(39, 37, 37);
  border: 1px solid gold;
  color: gold;
  display: flex;
  flex-flow: nowrap;
  height: 50px;
  justify-content: center;
  width: 150px;
}

.expenses-header {
  padding: 5px;
}
